<div class="list__item">
  <div class="list__item__rating">
    {{ data.vote_average }}
  </div>
  <div class="list__item__poster">
    <span class="poster" [ngStyle]="{ 'background-image': 'url(https://image.tmdb.org/t/p/w500/' + data.poster_path + ')'}"></span>
  </div>
  <div class="list__item__details">
    <span class="item__title">{{ data.title }}</span>
    <!-- <app-star-rating [rating]="5"></app-star-rating> -->
    <div class="item__desc">
      <span [innerHTML]="getGenres(data.genre_ids)"></span>
    </div>

  </div>
</div>
