.list__item {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 200px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 14px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  transition: margin 0.4s;
  cursor: pointer;
  position: relative;
  &:hover {
    margin-top: 0px;
  }
  .list__item__rating {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #056dfb;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    top: -10px;
    right: -10px;
    letter-spacing: 1px;
    font-size: 12px;
  }

  .list__item__poster {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 309px;
    .poster {
      display: flex;
      border-radius: 6px;
      background: white;
      background-size: cover;
      background-position: center; // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 20px rgba(155, 89, 182, 0.34);
      width: 176px;
      height: 288px;
    }
  }
  .list__item__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    .item__title {
      font-family: "Poppins";
      font-size: 1.1em;
      font-weight: 700;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 10px;
      font-size: 13px;
      letter-spacing: 1px;
      display: flex;
      text-transform: uppercase;
      color: #0a162c;
    }
    .item__desc {
      font-family: "Poppins", "Helvetica", "Segoe UI", "sans-serif";
      font-weight: 400;
      font-size: 10px;
      padding: 10px;
      color: #4d4d80;
    }
  }
}
