<!-- <h4 *ngIf="auth.isAuthenticated()">
  You are logged in!
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>
<label>Budget</label>

<div *ngIf="loading">loading...</div>
<pre>Data Obtained is: {{ data | json }}</pre>

<br>
<input [(ngModel)]="name"> -->

<div class="container fill" style="padding:20px;">
  <div class="row">
    <div class="col-md-12">
      <button type="button" (click)="makeRequest()">Make Request</button>
    </div>
  </div>
  <div *ngIf="data" class="row fill">
    <div class="col-md-5 fill">
      <img class="fill" src="{{ 'https://image.tmdb.org/t/p/w500/' + data.poster_path }}" />
    </div>
    <div class="col-md-7">
      <h1 [innerHtml]="data.original_title"></h1>
      <a target="_blank" href="{{ 'https://image.tmdb.org/t/p/w500/' + data.backdrop_path }}">Backdrop Path</a>
      <pre>Data Obtained is: {{ data | json }}</pre>
    </div>
  </div>
  <div *ngIf="!data" class="ph-item">
    <div class="ph-col-12">
      <div class="ph-picture"></div>
      <div class="ph-row">
        <div class="ph-col-6 big"></div>
        <div class="ph-col-4 empty big"></div>
        <div class="ph-col-2 big"></div>
        <div class="ph-col-4"></div>
        <div class="ph-col-8 empty"></div>
        <div class="ph-col-6"></div>
        <div class="ph-col-6 empty"></div>
        <div class="ph-col-12"></div>
      </div>
    </div>
  </div>
  <iframe width="500" height="315" src="https://www.youtube.com/embed/ePbKGoIGAXY?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
