$bg-search: rgba(255, 8, 108, 0.76);
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  color: #b0b3c5; // background: #110827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset Search Input */

/* Links */

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* Icons */

.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

/* Header */

@media screen and (max-width: 40em) {
}

/* Layout for search container */

.search {
  position: relative;
  text-align: center;
}

.search {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; // background: rgba(0, 0, 0, 0.3);
}

.search__inner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.search__inner--up {
  color: #dce6e6;
  background: $bg-search;
}

.search__inner--down {
  top: 50%;
  color: #dce6e6;
  background: $bg-search;
}

.btn--search-close {
  font-size: 2em;
  position: absolute;
  z-index: 100;
  top: 1.25em;
  right: 1.25em;
  display: none;
}

.btn--search-close {
  display: block;
}

.search__form {
  width: 75%;
  max-width: 900px;
  margin: 0 auto;
}

.search__input {
  font-family: inherit;
  font-size: 7vw;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0.1em 0;
  color: inherit;
  border-bottom: 4px solid;
}

.search__input::-webkit-input-placeholder {
  opacity: 0.1;
  /* WebKit, Blink, Edge */
  color: #fff;
}

.search__input::-moz-placeholder {
  opacity: 0.1;
  /* Mozilla Firefox 19+ */
  color: #fff;
}

.search__input:-ms-input-placeholder {
  opacity: 0.1;
  /* Internet Explorer 10-11 */
  color: #fff;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search__input::-ms-clear {
  display: none;
}

.search__info {
  font-size: 90%;
  font-weight: bold;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0.85em 0;
  text-align: right;
}

.search__related {
  display: flex;
  width: 75%;
  max-width: 900px;
  pointer-events: none;
}

.search__suggestion {
  width: 50%;
  padding: 0 1em 0 0;
  text-align: left;
}

.search__suggestion:last-child {
  padding: 0 0 0 1em;
}

.search__suggestion h3 {
  font-size: 1.35em;
  margin: 0;
}

.search__suggestion h3::before {
  content: "\21FE";
  display: inline-block;
  padding: 0 0.5em 0 0;
}

.search__suggestion p {
  font-size: 1.15em;
  line-height: 1.4;
  margin: 0.75em 0 0 0;
}

/************************/

/* Transitions 			*/

/************************/

.main-wrap {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; // background: #f3f3f8;
  background: #ffffff;
  transition: transform 0.6s, opacity 0.8s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  &--hide {
    opacity: 0.6;
    filter: blur(5px); // transform: scale3d(0.8, 0.8, 1);
  }
}

.search {
  pointer-events: none;
  &--open {
    pointer-events: auto;
  }
}

.search::before {
  opacity: 0;
  transition: opacity 0.6s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  &--open::before {
    opacity: 1;
  }
}

/* Search button */

.btn--search {
  transition: opacity 0s;
}

.main-wrap--hide .btn--search {
  opacity: 0;
  transition-delay: 0s;
}

/* Close button */

.btn--search-close {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 1);
  transition: opacity 0.6s, transform 0.6s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.search--open .btn--search-close {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* Halfs */

.search__inner {
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  input {
    background: transparent;
    outline: none;
    border: none;
    font-weight: 200;
  }
  &--up {
    transform: translate3d(0, -100%, 0);
  }
  &--down {
    transform: translate3d(0, 100%, 0);
  }
}

.search--open .search__inner {
  transform: translate3d(0, 0, 0);
}

.search__suggestion {
  transform: translate3d(0, 150px, 0);
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.search--open .search__suggestion {
  transform: translate3d(0, 0, 0);
  transition-delay: 0.05s;
}

.search--open .search__suggestion:last-child {
  transition-delay: 0.1s;
}

@media screen and (max-width: 40em) {
  .btn--search-close {
    font-size: 1.25em;
  }
  .search__suggestion {
    width: 100%;
  }
  .search__suggestion:last-child {
    display: none;
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

.header__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #f96332;
  background: #fff; // box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  z-index: 2;
  /* border-bottom: 1px solid #e5e5ed; */
  height: 90px;
}

.header__container--left {
  display: flex;
  width: 150px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  button {
    background: transparent;
    border: none;
    outline: none;
    i {
      color: #bdc3c7;
    }
  }
}

.header__container--middle {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  nav {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    .nav__bar__item {
      display: flex;
      flex: 1;
      flex-direction: row;
      height: 100%;
      justify-content: center;
      align-items: center;
      button {
        background: transparent;
        border: none;
        outline: none;
        font-family: "Poppins";
        cursor: pointer;
        &:disabled {
          cursor: not-allowed;
        }
      }

      .link {
        &.active {
          color: #ff1270;
        }
      }

      .logo {
        i {
          color: #ff1270;
        }
      }
    }
  }
}

.website__select__btn {
  border: none;
  outline: none;
  background: transparent;
}

.website__select__btn > .website__name {
  font-size: 25px;
  font-weight: 300;
  color: #1d0a47;
  font-family: "Roboto";
}

.header__container--right {
  display: flex;
  width: 150px;
  letter-spacing: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  .search__btn {
    background: transparent;
    border: none;
    outline: none;
    i {
      color: #bdc3c7;
    }
  }
}

.header__profile__btn {
  border: none;
  outline: none;
  background: transparent;
  margin: 0 30px;
}

.header__profile__btn > img {
  border-radius: 50%;
  width: 30px;
}

.header__profile__btn > .profile__name {
  color: #b0b3c5;
  font-size: 13px;
  font-family: "Poppins";
}
