<!-- <body> -->
<app-menu [isOpen]="toggleMenu" (toggledChange)="handleChange($event)"></app-menu>
<main class="main-wrap" [ngClass]="{'main-wrap--hide': toggle}">
  <header class="header__container">
    <div class="header__container--left">
      <button (click)="toggleMenu = !toggleMenu"><i class="fa fa-bars"></i></button>

    </div>
    <div class="header__container--middle">
      <!-- <nav class="nav-links" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement"> -->
      <!-- <ul itemprop="name" content="navigation_menu"> -->
      <nav>
        <div class="nav__bar__item">
          <button class="link" [routerLink]="['/app/showing']" uiSrefActive="active">Now Showing</button>
        </div>
        <div class="nav__bar__item">
          <button disabled [routerLink]="['/app/movies']">Movies</button>
        </div>
        <div class="nav__bar__item">
          <button class="logo"><i class="fa fa-film"></i></button>
        </div>
        <div class="nav__bar__item">
          <button disabled [routerLink]="['/app/tv']">TV</button>
        </div>
        <div class="nav__bar__item">
          <button disabled [routerLink]="['/app/tv']">Discover</button>
        </div>
      </nav>
      <!-- <button id="qsLoginBtn" class="btn btn-primary my-2 my-sm-0" *ngIf="!auth.isAuthenticated()" (click)="auth.login()"
              type="button">
              Log In
            </button> -->
      <!-- <button id="qsLogoutBtn" class="btn btn-primary my-2 my-sm-0" *ngIf="auth.isAuthenticated()" (click)="auth.logout()"
              type="button">
              Log Out
            </button> -->
      <!-- </ul> -->
      <!-- </nav> -->
    </div>
    <div class="header__container--right">
      <button id="btn-search" class="search__btn" (click)="toggle = !toggle;"><i class="fa fa-search"></i></button>
      <button class="header__profile__btn">
        <img style="height:100%;" src="https://s.gravatar.com/avatar/53444f91e698c0c7caa2dbc3bdbf93fc?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fde.png" />
        <!-- <span class="profile__name">John Doe Demo</span> -->
        <i class="pe-7s-angle-down"></i>
      </button>
    </div>
  </header>
  <div class="main__content" style="display: flex;flex-direction: row;flex: 1;width: 100%;overflow-y: auto;justify-content: center;">
    <router-outlet></router-outlet>
  </div>
</main>
<div class="search" [ngClass]="{'search--open': toggle}">
  <button id="btn-search-close" class="btn btn--search-close" aria-label="Close search form" (click)="toggle = !toggle;">&times;</button>
  <div class="search__inner search__inner--up">
    <form class="search__form" action="">
      <input class="search__input" name="search" type="search" placeholder="Search" autocomplete="off" autocorrect="off"
        autocapitalize="off" spellcheck="false" />
      <!-- <button (click)="getSearch()">Search</button> -->
      <span class="search__info">Hit enter to search or ESC to close</span>
      <!-- <div>{{ 'Toggle: ' + ( toggle )}}</div> -->
    </form>
  </div>
  <div class="search__inner search__inner--down">
    <div class="search__related">
      <div class="search__suggestion">
        <h3>May We Suggest?</h3>
        <!-- <p>#drone #funny #catgif #broken #lost #hilarious #good #red #blue #nono #why #yes #yesyes #aliens #green</p> -->
        <p></p>
      </div>
      <div class="search__suggestion">
        <h3>Discover More!</h3>
        <!-- <p>#broken #lost #good #red #funny #hilarious #catgif #blue #nono #why #yes #yesyes #aliens #green #drone</p> -->
      </div>
    </div>
  </div>
</div>
<!-- </body> -->
