﻿<div class="slide" [ngClass]="{'visible': isOpen}">
  <div class="slide__overlay" *ngIf="isOpen" (click)="toggleMenu()"></div>
  <div class="slide__container-outer">
    <div class="slide--title-wrapper">
      <span class="slide__title">Menu</span>
      <button class="slide__dismiss" (click)="toggleMenu()">&times;</button>
    </div>
    <div class="slide__container-inner">
      <!-- {{ isOpen }} -->
    </div>
  </div>
</div>
