/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* You can add global styles to this file, and also import other style files */
main {
  padding-top: 3.5rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid transparent;
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 100px;
}
