<div class="discover">
  <div class="discover__filters" [ngClass]="{'discover__filters--hide': !showFilters}">
    <div class="container" *ngIf="showFilters">
      <div class="row">
        <span>Genres</span>
        <div class="col-md-12" *ngFor="let genre of genres">
          <label><input type="checkbox" [value]="genre.id" [(ngModel)]="genre.checked" (change)="updateSelected($event)" />{{
            genre.name }}</label>
        </div>
      </div>

      <div class="row">
        <span>Rating</span>
        <div class="col-md-12">
          <select [(ngModel)]="selectedRating" (change)="updateSelectedRating(selectedRating)">
            <option [ngValue]="1">1</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="3">3</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="5">5</option>
            <option [ngValue]="6">6</option>
            <option [ngValue]="7">7</option>
            <option [ngValue]="8">8</option>
            <option [ngValue]="9">9</option>
            <option [ngValue]="10">10</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="discover__content">

    <div class="container">
      <div class="row">
        <button class="moovi-btn btn-rose btn-round" (click)="showFilters = !showFilters">Toggle Filters</button>
      </div>
      <div class="row list" *ngIf="data">
        <div class="col-md-3" *ngFor="let item of data.results.sort(sortItems) | genreFilter:selectedGenres | ratingFilter:selectedRating">
          <app-movie-item [data]="item"></app-movie-item>
        </div>
      </div>

      <!-- <div class="row">
        <img src="../../../assets/posters/3000.png" style="width:100%" />
      </div> -->

    </div>
  </div>
</div>
