:host {
  width: 100%;
}

.discover {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  overflow: hidden;
  .discover__content,
  .discover__filters {
    display: flex;
    height: 100%;
    overflow-y: auto;
  }
  .discover__filters {
    display: flex;
    height: 100%;
    width: 260px;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
    transition: width 0.5s;
    &--hide {
      width: 0px;
    }
  }
  .discover__content {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    background: #f8fafc;
  }
}

.list {
  margin-top: 30px;
}

.moovi-btn {
  margin-bottom: 10px;
}
.moovi-btn {
  font-family: "Poppins";
  white-space: nowrap;
  display: flex;
  line-height: 48px;
  height: 50px;
  padding: 0px 60px;
  background: #fff;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  // border-color: #6772e5;
  // color: #6772e5;
  text-decoration: none;
  transition: all 0.15s ease;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;

  &:hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  &:active,
  &:focus {
    outline: none;
  }

  &.btn-rose {
    opacity: 1;
    background: #ff1270;
    border-color: #ff1270;
    color: #fff;
  }

  &.btn-round {
    border-width: 1px;
    border-radius: 30px !important;
    padding: 9px 18px;
  }
}
